<%- include("partials/header"); -%>

<div class="mx-auto center">
    <form action="/signIn" method="post">
      <img class="mb-4" src="images\Arravo_logo_black.png" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Sign In</h1>


      <input type="email" class="mb-2" size="40" placeholder="Email" name="Email">
      <br>
      <input type="password" class="mb-2" size="40" placeholder="Password" name="Password">
      <br>
      
      <button class="w-40 btn btn-lg btn-danger" type="submit">Log In</button>
      <p class="mt-5 text-muted">Arravo</p>
    </form>
</div>

<%- include("partials/footer"); -%>
